.form_container {
    min-height: 250px;
}

.input_container {
    display: flex;
    justify-content: space-evenly;
}

.input_connexion {
    width: 20px;
    font-size: 1.5em;
    margin: 0;
}

.link {
    font-size: 0.8em;
}

.alert_message_container {
    position: relative;
    left: -15%;
    top: -100px;
}

.alert_message {
    width: 300px;
    background-color: #D60036;
    color: white;
    padding: 10px;
    position: absolute;
    text-align: center;
}

input:focus {
    background-color: #d600359c;
}