body {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.menu_nav{
    padding:0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.main_content {
    overflow-x: hidden;
    display: block;

}

::-webkit-scrollbar {
    background: transparent;
    width: 0px;
}

::-webkit-scrollbar-track {
    background: transparent;

}

::-webkit-scrollbar-thumb {
    background: #d60036;
    width: 10;
}

::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

.reah_logo {
    height: 45px;
    width: 45px;
    margin-left: 15px;
    min-width: 45px;
}

.first_category,
.second_category,
.third_category,
.forth_category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    margin-top: 60px;
    height: 80%;
}

.third_category{
    margin-bottom: 50px;
}


.arrow_prev_container,
.arrow_next_container {
    width: 5%;
    height: 100%;
    box-shadow: 0px 0px 50px #000000, 0px 600px 50px #222222, 0px -600px 50px #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: radial-gradient(circle, #d6003538 0%, #141414 100%);
}

.arrow_prev_container:hover,
.arrow_next_container:hover {
    background: radial-gradient(circle, #d600357a 0%, #141414 100%);
}

.next_arrow,
.prev_arrow {
    width: 5vw;
}

.category_content {
    display: flex;
    overflow-x: auto;
    position: relative;
    flex-direction: column;
}

h1 {
    text-shadow: 0px 0px 10px #000000;
    margin: 0;
    margin-left: 20px;
    color: #d60035;
}

.all_video_container {
    display: flex;
    align-items: flex-start;
    overflow-x: auto;
    position: relative;
    padding-left: 40px;
    padding-top: 40px;
}

.all_video_container::-webkit-scrollbar,
.defi_pop_container::-webkit-scrollbar {
    background-color: transparent;
    width: 0;
}

.all_video_container::-webkit-scrollbar-track,
.defi_pop_container::-webkit-scrollbar-track {
    background: transparent;
    width: 0;
}

.all_video_container::-webkit-scrollbar-thumb,
.defi_pop_container::-webkit-scrollbar-thumb {
    background: transparent;
}

.all_video_container::-webkit-scrollbar-thumb:hover,
.defi_pop_container::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

.video_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* height: 100%; */
    flex-direction: column;
    margin-right: 100px;
}

.user_container {
    display: flex;
    align-items: center;
    justify-content: start;
    /* margin: 10px; */
    position: absolute;
    top: 10px;
    left: 10px;
    backdrop-filter: blur(5px);
    border: 1px solid #141414;
    border-radius: 100vh;
    height: 40px;
    padding-right: 15px;
    cursor: pointer;
}

.user_container_hover {
    animation: user_container_hover ease 0.5s forwards;
}

.user_container_mouseout {
    animation: user_container_mouseout ease 0.5s forwards;
}

.pp_profile {
    height: 40px;
    min-height: 40px;
    width: 40px;
    min-width: 40px;
    z-index: 100;
}

.pseudo {
    z-index: 100;
    text-shadow: #000000 0px 0px 5px;
}

.video_content {
    height: 360px;
    min-width: 640px;
    width: 640px;
    background-color: #000000;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}

.video {
    height: 100%;
    width: 100%;
}

video:focus {
    outline: none;
}

.description_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.description_container>p {
    margin: 0;
}

.description_container>.fb_jsb {
    width: 100%;
}

.synopsis_title_container {
    display: flex;
}

.synopsis_title {
    max-width: 320px;
    cursor: pointer;
    z-index: 1;
    padding-right: 20px;
}

.see_more {
    display: flex;
    align-items: center;
    opacity: 0;
    transform: translateX(-100px);
    color: #d60035;
    font-weight: bold;
    cursor: pointer;
}

.see_more_arrow {
    height: 30px;
}

.see_more_hover {
    animation: information_arrow_hover 0.5s ease forwards;
}

.time {
    z-index: 1;
    position: absolute;
    right: 10px;
    bottom: 10px;
    margin: 0;
    text-shadow: #000000 0px 0px 5px;
}

.reaction_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 230px;
}

.reaction_container>* {
    cursor: pointer;
}

.pop_corn_number {
    margin: 0;
    align-self: flex-end;
    cursor: default;
}


.pop_corn_icon {
    margin-right: 5px;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.comment_icon,
.share_icon {
    height: 25px;
    cursor: pointer;
}

.profile_comment_title {
    display: none;
}

.video_content_click {
    transform: translate(-500px);
    transition: ease 2s;
}

@keyframes information_arrow_hover {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}


@keyframes user_container_hover {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes user_container_mouseout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.dark_filter,
.upload_dark_filter,.delete_dark_filter,.unfollow_dark_filter,.share_dark_filter {
    /* position: absolute; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 102;
    display: none;
}

.delete_dark_filter,.unfollow_dark_filter,.share_dark_filter{
    z-index: 300;
}

.film_container {
    position: absolute;
    z-index: 200;
    margin-top: 2vw;
    display: none;
    flex-direction: column;
    width: 854px;
    box-shadow: black 0px 0px 20px;
    align-self: center;
    top: 0;
    background-color: #141414;
}

.film_header {
    display: flex;
    padding: 20px;
}

.film_settings{
    display: flex;
    align-items: center;
    position: relative;
}

.film_settings_icon{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
    margin-right: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

.film_settings_icon>div{
    height: 5px;
    width: 5px;
    border-radius: 100px;
    background-color: white;
}
.film_settings_container{
    width: 150px;
    background-color: #d60036;
    position: absolute;
    top: 60px;
    z-index: 100;
    display: none;
}
.film_settings_container>div{
    height: 35px;
    width: 100%;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}
.film_settings_container>div:hover{
    background-color: #14141462;
}
.film_saved_icon{
    height: 40px;
    cursor: pointer;
}

.film_title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    flex: 1;
    margin: 0;
}

.close_icon {
    align-self: flex-start;
    width: 40px;
    cursor: pointer;
}

.film {
    position: relative;
    width: 854px;
    background-color: black;
}

.film_informations {
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.challenge_container,
.share_container {
    cursor: pointer;
}

.share_title {
    margin: 0;
    align-self: flex-end;
    margin-left: 10px;
}

.film_time,
.film_date,
.film_pop_corn_number,
.challenge_title {
    margin: 0;
    margin-right: 40px;
    align-self: flex-end;
}

.challenge_defi_icon {
    height: 25px;
}

.challenge_title {
    color: #d60035;
    font-weight: bold;
    margin-left: 10px;
    text-decoration: none;
}

*>.challenge_container:hover {
    text-decoration: underline;
}

.film_description {
    margin-top: 30px;
}

.distribution_container>span,
.genre_container>span {
    color: #afafaf;
    font-weight: bold;
}

.distribution_container,
.genre_container {
    text-align: center;
}

.comment_title {
    margin: 20px;
}

.comment_title_container {
    margin-top: 10px;
    cursor: pointer;
    box-shadow: #070707 0px 20px 20px;
    z-index: 100;
}

.comment_title_container:hover {
    background: radial-gradient(circle, #d6003556 0%, #141414 100%);
}

.scroll_none {
    position: fixed;
    right: 0;
    left: 0;
}

.comment_space_container {
    background-color: #0a0a0a;
    padding-top: 20px;
    height: 90vh;
    display: none;
    transform: translateY(-200px);
    overflow: auto;
}

.comment_space_container::-webkit-scrollbar {
    background: transparent;
    width: 5px;
}

.comment_space_container::-webkit-scrollbar-track {
    background: transparent;

}

.comment_space_container::-webkit-scrollbar-thumb {
    background: #d60035;
    width: 10 !important;
}

.comment_space_container::-webkit-scrollbar-thumb:hover {
    background: #d6003570;
}

.comment_space_container_open {
    animation: comment_space_container_open ease forwards 0.5s;
}

.comment_space_container_close {
    animation: comment_space_container_close ease forwards 0.5s;
}

.write_comment {
    background-color: #141414;
    padding: 10px;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
}

.write_comment>textarea {
    border: none;
    background: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 500;
    max-width: 100%;
    width: 100%;
    padding-top: 10px;
    min-height: 30px;
}

.send_comment {
    background: none;
    border: none;
    min-height: 40px;
    height: 40px;
    min-width: 40px;
    width: 40px;
    background: url(../../sources/img/send_icon.svg) no-repeat;
    background-position: center;
    background-size: 100%;
    margin-left: 20px;
    cursor: pointer;
    padding: 0;
}

.send_comment:hover {
    background: url(../../sources/img/send_icon_hover.svg) no-repeat;
    background-position: center;
    background-size: 100%;
}

.comment_content {
    margin-top: 20px;
    background-color: #141414;
    padding: 20px;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: column;
}

.pseudo,
.comment_date,
.comment_number {
    margin: 0;
}

.comment_date {
    color: #afafaf;
    font-size: 0.8rem;
}

.comment_number {
    margin-left: 10px;
    align-self: flex-end;
}

.comment_param_container {
    display: flex;
    justify-content: space-between;
    width: 25px;
    cursor: pointer;
    align-self: center;
}

.comment_param_container>div {
    height: 5px;
    width: 5px;
    background-color: #afafaf;
    border-radius: 100px;
}

.comment_text {
    margin-top: 30px;
    margin-bottom: 30px;
}

.comment_container {
    cursor: pointer;
}

.pseudo_date_comment {
    height: 40px;
}

.film_container_open {
    animation: film_container_open ease 0.5s forwards;
}

.film_container_close {
    animation: film_container_close ease 0.5s forwards;
}

@keyframes comment_space_container_open {
    0% {
        transform: translateY(-200px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes comment_space_container_close {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-100px);
    }
}

@keyframes film_container_open {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes film_container_close {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-100px);
    }
}

@media screen and (max-width:800px) {
    .video_content {
        height: 240px;
        width: 426px;
        min-width: 426px;
    }

    .video_container {
        min-width: 426px;
    }

    .all_video_container {
        padding-left: 10px;
    }

    .description_container>.fb_jsb {
        flex-direction: column-reverse;
    }

    .synopsis_title,
    .see_more {
        align-self: center;
        margin-top: 5px;
    }

    .profile_comment_title {
        display: block;
        margin-left: 10px;
    }

}

@media screen and (max-width:900px) {

    .film_container {
        width: 95%;
    }

    /* .share_title{
        display: none;
    } */
    .film_informations_header {
        flex-direction: column-reverse;
        align-items: flex-start;
        height: 80px;
    }
}

@media screen and (max-width:700px) {
    .genre_distribution_container {
        flex-direction: column;
    }
}